.aricon{
  margin-left:-20px;

}
.navbar-brand{
  padding-left:55px;
}
.flaticon-beer::before{
  font-size:2rem;
}
.flaticon-beer{
  margin-right:20px;
}
.ftco-section-parallax2, .parallax-img2{
background: rgb(148,0,0) !important;
background: linear-gradient(343deg, rgba(148,0,0,1) 2%, rgba(0,1,108,1) 62%) !important;
}
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}
.moreinfop{
  color: #ff5656;
}
.flaticon-child::before, .flaticon-face::before{
  font-size:5rem;
}
.datovelger{
  width:160px;
  border-radius: 0;
  margin-left:15px;
  background: #272e4f;
  color:white;
  border:none;
  text-align:right;
  direction:ltr;
}
